*{
    padding: 0px;
    margin: 0px;
}
.one{
    background-color: aqua;
    margin: 50px;

    
}
.btn-warning{
    background-color: antiquewhite;
}
.navbar{
  height: 50px;
}
h2{
    text-align: center;
}
h5{
    text-align: center;
}
img{
    object-fit: cover;
}
.bor{
    border: 1px solid rgb(220, 218, 218);
    background-color: rgb(230, 228, 228);
}